body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 120px;
}

.card {
    width: 350px;
    margin: 0 auto;
    padding: 22px 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #6b9080;
    color: #691e06;
    border: 6px solid #003049;
    border-radius:14px;
        
}

.border-blue {
    border: 1px dotted blue;
}


